<!DOCTYPE html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119177421-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119177421-1');
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Personalised career advice and support through our unique online portal. Tap into our FREE resources from anywhere in the world, to jump-start your career.">
<meta name="author" content="Your New Gig">
<title>career advice | career counselling | upskilling | YourNewGig</title>
<link rel="shortcut icon" href="">
<link rel="apple-touch-icon" href="">
<link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="">
<!-- Web Fonts-->
<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7cPlayfair+Display:400i" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<!-- Plugins-->
<link href="static/css/plugins.min.css" rel="stylesheet">
<link href="static/css/template.css" rel="stylesheet">
</head>
<body>

<!-- Preloader-->
<div class="page-loader">
  <div class="page-loader-inner">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>
</div>
<!-- Preloader end--> 

<!-- Header-->
<header class="header header-transparent">
  <div class="container-fluid"> 
    <!-- Brand-->
    <div class="inner-header"><a class="navbar-brand" href="index.html"><img src="static/assets/brand/CueIt_Logo_V2.png" height="80"> </a></div>
    <!-- Navigation-->
    <div class="inner-navigation collapse">
      <div class="inner-nav onepage-nav">
        <ul>
          <li><a href="#"><span class="menu-item-span">Home</span></a></li>
          <li><a href=""><span class="menu-item-span">Pricing</span></a></li>
          <li><a href=""><span class="menu-item-span">Contact</span></a></li>
          <li>
            <p><a class="btn btn-circle btn-brand" href="https://cueit/app">Sign Out</a></p>
          </li>
        </ul>
      </div>
    </div>
    <div class="extra-nav d-block d-lg-none">
      <ul>
        <li><a class="off-canvas-open" href="#"><span class="menu-item-span"><i class="ti-menu"></i></span></a></li>
        <li class="nav-toggle"><a href="#" data-toggle="collapse" data-target=".inner-navigation"><span class="menu-item-span"><i class="ti-menu"></i></span></a></li>
      </ul>
    </div>
  </div>
</header>
<!-- END Header--> 
<section class="module-cover parallax" data-background="assets/images/module-10.jpg" data-overlay="1" data-gradient="1">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6">
            
            <div class="card">
              <div class="card-header">
                <h5 style="color:#34454f">File Upload</h5>
              </div>
              <div class="card-block">
                  <form action="#" class="dropzone dz-clickable">
                      <div class="dz-default dz-message"><span style="color:#34454f">Drop files here to upload</span></div>
                  </form>
                  <div class="text-center m-t-20">
                      <button class="btn btn-primary">Upload Now</button>
                  </div>
            </div>
          </div>
        </div>
        
          <div class="col-lg-5 ">
              <h2>Flexible & Lightweight.</h2>
              <p class="lead">Map where your photos were taken and discover local points of interest. Map where your photos. Map where your photos were taken and discover.</p>
              <div class="space" data-MY="50px"></div>
              <div class="icon-box icon-box-left">
                  <div class="icon-box-icon"><span class="ti-layout"></span></div>
                  <div class="icon-box-title">
                      <h6>Visual Composer</h6>
                  </div>
                  <div class="icon-box-content">
                      <p>Map where your photos were taken and discover local points of interest. Map where your photos. Map where your photos were taken and discover.</p>
                  </div>
              </div>
              <div class="icon-box icon-box-left">
                  <div class="icon-box-icon"><span class="ti-cup"></span></div>
                  <div class="icon-box-title">
                      <h6>Revolution Slider</h6>
                  </div>
                  <div class="icon-box-content">
                      <p>Map where your photos were taken and discover local points of interest. Map where your photos. Map where your photos were taken and discover.</p>
                  </div>
              </div>
              <div class="icon-box icon-box-left">
                  <div class="icon-box-icon"><span class="ti-harddrives"></span></div>
                  <div class="icon-box-title">
                      <h6>User Experience</h6>
                  </div>
                  <div class="icon-box-content">
                      <p>Map where your photos were taken and discover local points of interest. Map where your photos. Map where your photos were taken and discover.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Alt Services end-->

</div>

<!-- Footer -->

<footer class="footer">
  <div class="footer-widgets">
  <div class="container">
  <div class="row">
  <div class="col-md-4"> 
    <!-- Text widget-->
    <aside class="widget"> <img src="images/about/Screen Shot 2018-07-17 at 5.19.13 pm.png" href="about" height=100 width=100> &nbsp; <img src="images/brand/2018 Corporate Small Print.jpg" href="about" height=125 width=125> </aside>
  </div>
  <a class="scroll-top" href="#top"><i class="fas fa-angle-up"></i></a> 
  
  <!-- Footer Contact-->
  
  <div class="col-md-4">
    <aside class="widget widget-text">
      <div class="widget-title">
        <h6>GET IN TOUCH</h6>
      </div>
      <div class="textwidget">
        <p>We’d love to hear from you.</p>
        <p><a href=mailto:enquiries@yournewgig.com>Email: enquiries@yournewgig.com<a/><br>
          <a href="tel:0288662020">Phone:&nbsp;02 8866 2020<a/><br>
        </p>
        <ul class="social-icons">
          <li><a href="https://www.instagram.com/yournewgig/"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://www.facebook.com/yournewgig/?hc_ref=OTHER"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://twitter.com/yournewgigcom"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://au.linkedin.com/company/yournewgig/"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCNJpAPo3yw5QwBrjkdscDzg?view_as=subscriber"><i class="fab fa-youtube"></i> </a></li>
        </ul>
      </div>
    </aside>
  </div>
  
  <!-- Site Navigation-->
  
  <div class="col-md-4">
  <aside class="widget widget-text">
  <div class="widget-title">
    <h6>SITE NAVIGATION</h6>
  </div>
  <div class="textwidget">
    <ul>
      <li><a href="#"><span class="menu-item-span">Home</span></a></li>
      <li><a href=""><span class="menu-item-span">Pricing</span></a></li>
      <li><a href=""><span class="menu-item-span">Contact</span></a></li>
      <li><a href="#"><span class="menu-item-span">Sign In</span></a></li>
    </ul>
  </div>
  </div>
  </div>
  </div>
  </div>
  

<!-- Copyright-->
<div class="footer-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright">
          <p>© 2020 CueIt, All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</footer>

<!-- Scripts--> 
<script src="static/js/custom/jquery-3.2.1.min.js" charset="utf-8"></script>
<script src="static/js/custom/popper.min.js" charset="utf-8"></script>
<script src="static/js/bootstrap/bootstrap.min.js" charset="utf-8"></script>
<script src='static/js/custom/plugins.min.js' charset="utf-8"></script>
<script src="static/js/custom/custom.min.js" charset="utf-8"></script>
</body>
</html>
