<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="CueIt">
<title>Automated Music Cue Sheet App | CueIt.</title>
<link rel="shortcut icon" href="">
<link rel="apple-touch-icon" href="">
<link rel="apple-touch-icon" sizes="72x72" href="#">
<link rel="apple-touch-icon" sizes="114x114" href="">
<!-- Web Fonts-->
<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7cPlayfair+Display:400i" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<!-- Plugins-->
<link href="static/css/plugins.min.css" rel="stylesheet">
<link href="static/css/template.css" rel="stylesheet">
</head>
<body>

<!-- Preloader-->
<div class="page-loader">
  <div class="page-loader-inner">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>
</div>
<!-- Preloader end--> 

<!-- Header-->
<header class="header header-transparent">
  <div class="container-fluid"> 
    <!-- Brand-->
    <div class="inner-header"><a class="navbar-brand" href="index"><img src="static/assets/brand/CueIt_Logo_V2.png" height="80"> </a></div>
    <!-- Navigation-->
    <div class="inner-navigation collapse">
      <div class="inner-nav onepage-nav">
        <ul>
          <li><a href=""><span class="menu-item-span">Home</span></a></li>
          <li><a href="pricing"><span class="menu-item-span">Pricing</span></a></li>
          <li><a href="mailto:contact@cueit.com"><span class="menu-item-span">Contact</span></a></li>
          <li><a href=""><span class="menu-item-span">Legal Stuff</span></a></li>
          <li>
            <p><a class="btn btn-circle btn-brand-nav" href="app">Sign In</a></p>
          </li>
        </ul>
      </div>
    </div>
    <div class="extra-nav d-block d-lg-none">
      <ul>
        <li><a class="off-canvas-open" href="#"><span class="menu-item-span"><i class="ti-menu"></i></span></a></li>
        <li class="nav-toggle"><a href="#" data-toggle="collapse" data-target=".inner-navigation"><span class="menu-item-span"><i class="ti-menu"></i></span></a></li>
      </ul>
    </div>
  </div>
</header>

<!-- END Header--> 

<section class="module-cover parallax" data-overlay="1" data-gradient="1">
        <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 m-auto">
                <div class="m-b-20">
                    <h6>Create a new account</h6>
                </div>
                <div class="m-b-20">
                    <form method="post">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="email" placeholder="E-mail">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" placeholder="Pasword">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" placeholder="Confirm password">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-block btn-round btn-brand" type="submit">Sign Up</button>
                        </div>
                    </form>
                </div>
                <div class="m-b-20">
                    <p><small>By signing up, you agree to the <a href="#">terms of service</a></small></p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->

<footer class="footer">
  <div class="footer-widgets">
  <div class="container">
  <div class="row">
  <div class="col-md-4"> 
    <!-- Text widget-->
    <aside class="widget"> <img src="static/assets/brand/CueIt_Logo_V2.png" height=100 width=100>  </aside>
  </div>
  <a class="scroll-top" href="#top"><i class="fas fa-angle-up"></i></a> 
  
<!-- Footer Contact-->

<div class="col-md-4">
  <aside class="widget widget-text">
    <div class="widget-title">
      <h6>GET IN TOUCH</h6>
    </div>
    <div class="textwidget">
      <p>We’d love to hear from you.</p>
      <p><a href=mailto:enquiries@cueit.com>Email: enquiries@cueit.com<a/><br>
      </p>
    </div>
  </aside>
</div>

<!-- Site Navigation-->

<div class="col-md-4">
<aside class="widget widget-text">
<div class="widget-title">
  <h6>SITE NAVIGATION</h6>
</div>
<div class="textwidget">
  <ul>
    <li><a href="privacy"><span class="menu-item-span">Privacy Policy</span></a></li>
    <li><a href="about"><span class="menu-item-span">Terms & Conditions</span></a></li>
  </ul>
</div>
</div>
</div>
</div>
</div>

<!-- Copyright-->
<div class="footer-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright">
          <p>© 2020 CueIt, All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</footer>

<!-- Scripts--> 
<script src="static/js/custom/jquery-3.2.1.min.js" charset="utf-8"></script>
<script src="static/js/custom/popper.min.js" charset="utf-8"></script>
<script src="static/js/bootstrap/bootstrap.min.js" charset="utf-8"></script>
<script src='static/js/custom/plugins.min.js' charset="utf-8"></script>
<script src="static/js/custom/custom.min.js" charset="utf-8"></script>
</body>
</html>



